<section class="about-us">
  <h2 class="about-us-title">About Us</h2>
  <div class="about-us-content">
  <div class="about-us-text-container">
    <p class="about-us-text">
      Welcome to our premium watch collection, where luxury and style meet
      functionality and precision. Our selection of timepieces embodies the very
      best in Swiss craftsmanship and engineering, ensuring that you'll always
      have a reliable and stylish accessory on your wrist.
    </p>
    <p class="about-us-text">
      At our premium watch collection, we believe that a watch is more than just a
      timekeeping device – it's a statement piece that reflects your personality
      and style. So why settle for anything less than the best?
    </p>
    <button type="button" class="view-btn">View catalog</button>
  </div>
    <div class="about-us-image-container">
      <img class="img-watch-about" src="/src/img/about-watch.png" alt="about-watch" />
    </div>
  </div>
</section>
