<!-- Contact us section 7 -->

<section id="contact-us" class="contact-us-section">
  <div class="container contact-us-container">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-us-pc-container">
      <div class="contact-us-wrap">
        <p class="contact-us-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-us-form">
          <div class="contact-us-input-container">
            <label for="user-name" class="visualy-hidden"></label>
            <input
              class="field-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Name"
            />
          </div>
          <div class="contact-us-input-container">
            <label for="email" class="visualy-hidden"></label>
            <input
              class="field-input"
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
          </div>
          <div class="contact-us-input-container">
            <label for="phone" class="visualy-hidden"></label>
            <input
              class="field-input"
              type="tel"
              name="phone"
              id="phone"
              placeholder="+380"
              pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            />
          </div>
          <div class="contact-us-input-container">
            <label for="comment" class="visualy-hidden"></label>
            <textarea
              class="contact-us-textarea"
              name="comment"
              id="comment"
              placeholder="Comment"
            ></textarea>
          </div>
          <button type="submit" class="contact-us-btn">Send</button>
        </form>
      </div>
      <picture>
        <source
          srcset="
            /img/contact-us-img-pc.png    1x,
            /img/contact-us-img-pc-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/contact-us-img-tab.png    1x,
            /img/contact-us-img-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/contact-us-img-mob.png    1x,
            /img/contact-us-img-mob-2x.png 2x
          "
          media="(min-width: 375px)"
        />
        <img
          class="contact-us-img"
          src="/img/contact-us-img-mob.png"
          alt="Portfolio"
        />
      </picture>
    </div>
  </div>
</section>
