<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css">
    <link rel="stylesheet" href="../css/hero.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/reset.css">
    <title>Hero</title>
</head>
<body>
    <!-- Hero section -->
    <section class="hero section">
        <div class="container hero-container">
            <div class="hero-headline-and-paragraph">
                <h1 class="hero-headline">Welcome to our <span class="hero-headline-span">collection</span> of premium watches</h1>
                <p class="hero-paragraph">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-scroll">
                <ul class="hero-icons">
                    <li>
                        <img src="../img/ellipse1.png" alt="ellipse1" width="44px" height="44px">
                    </li>
                    <li class="hero-icons-element1">
                        <img src="../img/ellipse2.png" alt="ellipse1" width="44px" height="44px">
                    </li>
                    <li class="hero-icons-element2">
                        <img src="../img/ellipse3.png" alt="ellipse1" width="44px" height="44px">
                    </li>
                </ul>
                <a class="hero-scroll-anchor" href="">Scroll Down</a>
            </div>
            <picture>
                <!-- Desktop -->
                <source media="(min-width: 1280px)" srcset="../img/rectangle.jpg 1x,../img/rectangle@2x.jpg 2x" type="image/jpg">
                <!-- Tablet -->
                <source media="(min-width: 768px)" srcset="../img/rectangle1.jpg 1x,../img/rectangle1@2x.jpg 2x" type="image/jpg">
                <!-- Mobile -->
                <source media="(min-width: 374px)" srcset="../img/rectangle2.jpg 1x,../img/rectangle2@2x.jpg 2x" type="image/jpg">
                <img class="hero-image" src="../img/rectangle.jpg" alt="clock" width="335px" height="366px" loading="lazy">
            </picture>
        </div>
    </section>
</body>
</html>