<!-- Hero section -->
<section class="hero section" id="hero">
    <div class="container hero-container">
        <div class="hero-headline-and-paragraph">
            <h1 class="hero-headline">Welcome to our <span class="hero-headline-span">collection</span> of premium watches</h1>
            <p class="hero-paragraph">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero-scroll">
            <ul class="hero-icons">
                <li>
                    <picture>
                        <!-- Desktop -->
                        <source media="(min-width: 1280px)" srcset="/img/ellipse1-3.png 1x,/img/ellipse1-3@2x.png 2x" type="image/png">
                        <!-- Tablet -->
                        <source media="(min-width: 768px)" srcset="/img/ellipse1-2.png 1x,/img/ellipse1-2@2x.png 2x" type="image/png">
                        <!-- Mobile -->
                        <source media="(max-width: 374px) and (min-width: 375px)" srcset="/img/ellipse1.png 1x,/img/ellipse1@2x.png 2x" type="image/png">
                        <img src="/img/ellipse1.png" alt="ellipse1" width="44" height="44" loading="lazy">
                    </picture>
                </li>
                <li class="hero-icons-element1">
                    <picture>
                        <!-- Desktop -->
                        <source media="(min-width: 1280px)" srcset="/img/ellipse2-3.png 1x,/img/ellipse2-3@2x.png 2x" type="image/png">
                        <!-- Tablet -->
                        <source media="(min-width: 768px)" srcset="/img/ellipse2-2.png 1x,/img/ellipse2-2@2x.png 2x" type="image/png">
                        <!-- Mobile -->
                        <source media="(max-width: 374px) and (min-width: 375px)" srcset="/img/ellipse2.png 1x,/img/ellipse2@2x.png 2x" type="image/png">
                        <img src="/img/ellipse2.png" alt="ellipse2" width="44" height="44" loading="lazy">
                    </picture>
                </li>
                <li class="hero-icons-element2">
                    <picture>
                        <!-- Desktop -->
                        <source media="(min-width: 1280px)" srcset="/img/ellipse3-3.png 1x,/img/ellipse3-3@2x.png 2x" type="image/png">
                        <!-- Tablet -->
                        <source media="(min-width: 768px)" srcset="/img/ellipse3-2.png 1x,/img/ellipse3-2@2x.png 2x" type="image/png">
                        <!-- Mobile -->
                        <source media="(max-width: 374px) and (min-width: 375px)" srcset="/img/ellipse3.png 1x,/img/ellipse3@2x.png 2x" type="image/png">
                        <img src="/img/ellipse3.png" alt="ellipse3" width="44" height="44" loading="lazy">
                    </picture>
                </li>
            </ul>
            <a class="hero-scroll-anchor" href="#footer">Scroll Down</a>
        </div>
        <picture class="hero-picture">
            <!-- Desktop -->
            <source media="(min-width: 1280px)" srcset="/img/rectangle2.png 1x,/img/rectangle2@2x.png 2x" type="image/png">
            <!-- Tablet -->
            <source media="(min-width: 768px)" srcset="/img/rectangle1.png 1x,/img/rectangle1@2x.png 2x" type="image/png">
            <!-- Mobile -->
            <source media="(max-width: 374px) and (min-width: 375px)" srcset="/img/rectangle.png 1x,/img/rectangle@2x.png 2x" type="image/png">
            <img class="hero-image" src="/img/rectangle.png" alt="clock" loading="lazy">
        </picture>
    </div>
</section>