<!-- Reviews section 6 -->

<section class="reviews" id="reviews">
  <div class="reviews-cards container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-cards-container">
      <div class="reviews-cards-wrap reviews-cards1">
        <div class="reviews-box-img">
          <img src="/img/ellipse2.png" alt="avatar" class="reviews-cards-img" />
        </div>
        <h3 class="reviews-cards-h3">John Wax</h3>
        <p class="reviews-cards-paragraf">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </div>
      <div class="reviews-cards-wrap reviews-cards2">
        <div class="reviews-box-img">
          <img
            src="/img/ellipse1.png"
            alt="avatar"
            class="reviews-cards-img"
            width="56"
            height="56"
          />
        </div>
        <h3 class="reviews-cards-h3">Victoria Romashenko</h3>
        <p class="reviews-cards-paragraf">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </div>
      <div class="reviews-cards-wrap reviews-cards3">
        <div class="reviews-box-img">
          <img src="/img/ellipse3.png" alt="avatar" class="reviews-cards-img" />
        </div>
        <h3 class="reviews-cards-h3">Anastasia Trachuk</h3>
        <p class="reviews-cards-paragraf">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </div>
    </div>
  </div>
</section>
