<section class="sale">
  <h2 class="sale-name">Sale</h2>
  <div class="sale-block">
    <div class="sale-litle">
      <ul class="litle-block">
        <li class="litle-block-item">
          <picture
            ><source
              srcset="/img/img-one.png 1x, /img/img-one@2.png 2x"
              media=""
              type="image/png" />
            <source srcset="" media="" type="image/png" />
            <source srcset="" media="" type="image/png" />
            <img
              src="/img/img-one.png"
              alt="photo clock 1"
              width="52px"
              height="54px"
              class="litle-img"
          /></picture>
        </li>
        <li class="litle-block-item">
          <picture
            ><source
              srcset="/img/img-one.png 1x, /img/img-one@2.png 2x"
              media=""
              type="image/png" />
            <source srcset="" media="" type="image/png" />
            <source srcset="" media="" type="image/png" />
            <img src="" alt="" width="52px" height="54px" class="litle-img"
          /></picture>
        </li>
        <li class="litle-block-item">
          <picture
            ><source srcset="" media="" type="image/png" />
            <source srcset="" media="" type="image/png" />
            <source srcset="" media="" type="image/png" />
            <img src="" alt="" width="52px" height="54px" class="litle-img"
          /></picture>
        </li>
        <li class="litle-block-item">
          <picture
            ><source srcset="" media="" type="image/png" />
            <source srcset="" media="" type="image/png" />
            <source srcset="" media="" type="image/png" />
            <img src="" alt="" width="52px" height="54px" class="litle-img"
          /></picture>
        </li>
      </ul>
    </div>
    <div class="sale-big">
      <picture
        ><source
          srcset="../img/img-big.png 1x, ../img/img-big@2.png 2x"
          media=""
          type="image/png" />
        <source srcset="" media="" type="image/png" />
        <source srcset="" media="" type="image/png" />
        <img
          src="/img/img-big.jpg"
          alt="photo clock 1"
          width="235px"
          height="285px"
          class="big-img"
      /></picture>
    </div>
    <div class="sale-info">
      <h3 class="item-name">MARQ® Commander (Gen 2) - Carbon Edition</h3>
      <ul>
        <li class="item-tag">Product tag: 706587</li>
        <li class="item-info-price">
          <ul class="sale-price">
            <li class="item-price">€1500</li>
            <li class="item-old-price">€3000</li>
          </ul>
        </li>
        <li class="sale-about-clock">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </li>
        <li class="sale-clock-nomenkl">
          <ul class="clock-nomenkl-item">
            <li class="nomenkl-item">Fused carbon fiber</li>
            <li class="nomenkl-item">Grade-5 Titanuim</li>
            <li class="nomenkl-item">Athlete</li>
            <li class="nomenkl-item">Golfer</li>
            <li class="nomenkl-item">Commander</li>
            <li class="nomenkl-item">Adventurer</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
