<!-- Sale section 5 -->

<section class="sale section" id="sale">
  <div class="sale-container container">
    <h2 class="sale-name">Sale</h2>
    <div class="sale-block">
      <div class="sale-litle">
        <ul class="litle-block">
          <li class="litle-block-item">
            <picture
              ><source
                srcset="/img/img-one.png 1x, /img/img-one@2.png 2x"
                media="(max-width: 767px)"
                type="image/png" />
              <source
                srcset="/img/img-one-tab.png 1x, /img/img-one-tab@2.png 2x"
                media="(min-width: 768px) and (max-width: 1279px)"
                type="image/png" />
              <source
                srcset="/img/img-one-desk.png 1x, /img/img-one-desk@2.png 2x"
                media="(min-width: 1280px)"
                type="image/png" />
              <img
                src="/img/img-one.png"
                alt="photo clock 1"
                width="52px"
                height="54px"
                class="litle-img"
            /></picture>
          </li>
          <li class="litle-block-item">
            <picture
              ><source
                srcset="/img/img-two.png 1x, /img/img-two@2.png 2x"
                media="(max-width: 767px)"
                type="image/png" />
              <source
                srcset="/img/img-two-tab.png 1x, /img/img-two-tab@2.png 2x"
                media="(min-width: 768px) and (max-width: 1279px)"
                type="image/png" />
              <source
                srcset="/img/img-two-desk.png 1x, /img/img-two-desk@2.png 2x"
                media="(min-width: 1280px)"
                type="image/png" />
              <img
                src="/img/img-two.png"
                alt="photo clock 2"
                width="52px"
                height="54px"
                class="litle-img"
            /></picture>
          </li>
          <li class="litle-block-item">
            <picture
              ><source
                srcset="/img/img-three.png 1x, /img/img-three@2.png 2x"
                media="(max-width: 767px)"
                type="image/png" />
              <source
                srcset="/img/img-three-tab.png 1x, /img/img-three-tab@2.png 2x"
                media="(min-width: 768px) and (max-width: 1279px)"
                type="image/png" />
              <source
                srcset="
                  /img/img-three-desk.png   1x,
                  /img/img-three-desk@2.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png" />
              <img
                src="/img/img-three.png"
                alt="photo clock 3"
                width="52px"
                height="54px"
                class="litle-img"
            /></picture>
          </li>
          <li class="litle-block-item">
            <picture
              ><source
                srcset="/img/img-four.png 1x, /img/img-four@2.png 2x"
                media="(max-width: 767px)"
                type="image/png" />
              <source
                srcset="/img/img-four-tab.png 1x, /img/img-four-tab@2.png 2x"
                media="(min-width: 768px) and (max-width: 1279px)"
                type="image/png" />
              <source
                srcset="/img/img-four-desk.png 1x, /img/img-four-desk@2.png 2x"
                media="(min-width: 1280px)"
                type="image/png" />
              <img
                src="/img/img-four.png"
                alt="photo clock 4"
                width="52px"
                height="54px"
                class="litle-img"
            /></picture>
          </li>
        </ul>
      </div>
      <div class="sale-big">
        <picture
          ><source
            srcset="/img/img-big.png 1x, /img/img-big@2.png 2x"
            media="(max-width: 767px)"
            type="image/png" />
          <source
            srcset="/img/img-big-tab.png 1x, /img/img-big-tab@2.png 2x"
            media="(min-width: 768px) and (max-width: 1279px)"
            type="image/png" />
          <source
            srcset="/img/img-big-desk.png 1x, /img/img-big-desk@2.png 2x"
            media="(min-width: 1280px)"
            type="image/png" />
          <img
            src="/img/img-big.jpg"
            alt="photo clock"
            width="235px"
            height="285px"
            class="big-img"
        /></picture>
      </div>
      <div class="sale-info">
        <h3 class="item-name">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <ul>
          <li class="item-tag">Product tag: 706587</li>
          <li class="item-info-price">
            <ul class="sale-price">
              <li class="item-price">€1500</li>
              <li class="item-old-price">€3000</li>
            </ul>
          </li>
          <li class="sale-about-clock">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </li>
          <li class="sale-clock-nomenkl">
            <ul class="clock-nomenkl-item">
              <li class="nomenkl-item">Fused carbon fiber</li>
              <li class="nomenkl-item">Grade-5 Titanuim</li>
              <li class="nomenkl-item">Athlete</li>
              <li class="nomenkl-item">Golfer</li>
              <li class="nomenkl-item">Commander</li>
              <li class="nomenkl-item">Adventurer</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
