.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding: 0px 65px;
  margin: auto;
}

.about-us-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.about-us-content {
}

.about-us-text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.view-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.about-us-image-container {
  display: flex;
    justify-content: center;
    align-items: center;
}

.img-watch-about {
  width: 530px;
  height: 532px;
  border-radius: 50px;
  background: rgba(12, 12, 12, 0.2), url('path_to_image');
}
