@media screen and (max-width: 374px) {
  .about-us-image-container {
    overflow: hidden;
  }

  .about-us-contant {
    min-width: 335px;
  }

  .img-about-us {
    object-fit: cover;
    height: 446px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section {
    padding-bottom: 60px;
  }

  .about-us-image-container {
    overflow: hidden;
  }

  .img-about-us {
    width: 335px;
    height: 446px;
    object-fit: cover;
  }
}

.about-us {
}

.about-wrap {
}

.container {
}

.about-us-contant {
  border-radius: 30px;
  width: 335px;
  height: 446px;
  background: #f3f3f3;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.about-us-title {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-us-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.view-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #3350e9;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 16px;
  width: 160px;
  height: 48px;
}

.view-btn:hover,
.view-btn:focus {
  background: #1f3cd4;
}

.about-us-image-container {
  border-radius: 30px;
  width: 335px;
  height: 446px;
  background: rgba(12, 12, 12, 0.2), url('path_to_image');
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 768px;
  }

  .about-us-contant {
    flex-direction: column;
    display: inline-block;
    border-radius: 50px;
    width: 704px;
    border: 1px solid #000;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    border: none;
  }

  .about-us-title {
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 40px;
  }

  .about-us-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }

  .about-us-image-container {
    width: 704px;
    height: 512px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
  }

  .img-about-us {
    width: 704px;
    height: 512px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 100px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .about-us-title {
    font-size: 48px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding-bottom: 40px;
    margin: 0;
  }

  .about-us-contant {
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 168px;
    width: 580px;
    height: 532px;
    background: #f3f3f3;
    border-style: none;
  }

  .about-us-text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
  }

  .view-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3350e9;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 16px;
    width: 160px;
    height: 48px;
  }

  .view-btn:hover,
  .view-btn:focus {
    background: #1f3cd4;
  }

  .about-us-image-container {
    border-radius: 50px;
    width: 540px;
    height: 532px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .img-about-us {
    width: 540px;
    height: 532px;
  }
}
