.about-us {
  display: inline-block;
  border-radius: 50px;
  width: 580px;
  height: 532px;
  background: #f3f3f3;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.about-us-title {
  font-weight: 600;
  display: flex;
  font-size: 48px;
  line-height: 44px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.about-us-content {}

.about-us-content {}

.about-us-text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.view-btn {
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.about-us-image-container {}

.img-watch-about {
  border-radius: 50px;
  width: 530px;
  height: 532px;
  background: rgba(12, 12, 12, 0.2), url('path_to_image');
}
