.about-us {
  padding: 20px;
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-us-text-container {
  flex: 1 1 50%;
}

.about-us-image-container {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-watch-about {
  max-width: 100%;
  height: auto;
}

.view-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
  }
}