.contact-us-container {
  margin-bottom: 60px;
}

.contact-us-wrap {
  border-radius: 30px;
  padding: 48px 28px;
  background: #f3f3f3;
  margin-bottom: 20px;
}

.contact-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.contact-us-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
}

.field-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
  background: #f3f3f3;
  margin-bottom: 18px;
}

.contact-us-textarea {
  width: 100%;
  height: 84px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
  background: #f3f3f3;
  padding-top: 12px;
  margin-bottom: 28px;
  resize: none;
}

.contact-us-btn {
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border: none;
}

.contact-us-btn:hover,
.contact-us-btn:focus {
  background: #1f3cd4;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:focus {
  border-color: #3350e9;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-textarea:focus {
  border-color: #3350e9;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-img {
  width: 335px;
  height: 512px;
}

@media screen and (min-width: 768px) {
  .contact-us-wrap {
    padding: 50px 122px;
    margin-bottom: 40px;
  }

  .contact-us-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }

  .field-input {
    font-size: 16px;
    line-height: 1.25;
    height: 52px;
  }

  .contact-us-textarea {
    font-size: 16px;
    line-height: 1.25;
  }

  .contact-us-btn {
    border-radius: 16px;
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }

  .contact-us-img {
    width: 704px;
    height: 556px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-us-container {
    margin-bottom: 0;
    margin-left: 33px;
  }

  .contact-us-title {
    margin-bottom: 40px;
  }

  .contact-us-pc-container {
    display: flex;
    gap: 40px;
  }

  .contact-us-wrap {
    border-radius: 50px;
    width: 580px;
    height: 556px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .contact-us-img {
    width: 530px;
    height: 556px;
    border-radius: 50px;
  }

  .contact-us-textarea {
    height: 90px;
  }
}
