@media screen and (max-width:374px) {
    .reviews {
        
    }

    .reviews-cards {
        
    }

    .reviews-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 24px;
    }
    
    .reviews-cards-wrap {
        background: #f3f3f3;
        border-radius: 30px;
        padding: 32px 36px;
        max-width: 335px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    .reviews-cards2, .reviews-cards3{
        display: none;
    }
    .reviews-box-img{
        width: 56px;
        height: 56px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-bottom: 24px;
    }
    .reviews-cards-img {
        display: block;
        width: 100%;
    }

    .reviews-cards-h3 {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0c0c0c;
    }

    .reviews-cards-paragraf {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.4);
    }
}

@media screen and (min-width:375px) {
    .reviews {}

    .reviews-cards {
        
    }

    .reviews-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 24px;
    }
    .reviews-cards-container {
        display: flex;

    }
    .reviews-cards-wrap {
        background: #f3f3f3;
        border-radius: 30px;
        padding: 32px 36px;
        width: 335px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .reviews-cards2,
    .reviews-cards3 {
        display: none;
    }

    .reviews-box-img {
        width: 56px;
        height: 56px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    .reviews-cards-img {
        display: block;
        width: 100%;
    }

    .reviews-cards-h3 {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0c0c0c;
    }

    .reviews-cards-paragraf {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.4);
    }
}

@media screen and (min-width:768px) {
    .reviews-cards {
        
    }
    .reviews-title {
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }
    .reviews-cards-container{
        flex-direction: row;
        justify-content: space-between;
    }
    .reviews-cards-wrap {
        width: 344px;
    }
   .reviews-cards2{
       display: flex;
    }
    .reviews-cards-h3 {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }
    .reviews-cards-paragraf {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }
}
@media screen and (min-width:1280px) {
    .reviews-cards {
        
    }

    .reviews-title {
        margin-bottom: 40px;
    }

    .reviews-cards-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .reviews-cards-wrap {
        width: 370px;
    }
    .reviews-cards2, .reviews-cards3{
        display: flex;
    }
}